.header {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 90%;
}
.img{
     margin-right:  700px;
     height: 55px;
     border-radius: 10%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
a{
    color: #fff;
}
 .logo1{
    color: red;
    position: absolute;
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
    transition: 0.5s ease;
    margin-left: 40px;
    z-index: -1;
     
 }
 .logo1 :hover{
    
    transform: scale(1.1);  
    
 }
 #logo1{
    border-bottom: none;
 }
 .logo1:hover{
    transform: scale(1.1);
}

a:hover{
    color: red;
     transform: scale(1.1);

    border-bottom: 2px solid red;
}
.header .faq {
    margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header a {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: white;
}
.burger div{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #f1ebeb;
    border-radius: 6px;
    z-index: 10;
    transition: 0.3s ease;

}
.active .div{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 6px;
    transform: rotate(-50deg) translate(-4px, 15px);
    transition: 0.3s ease;
}
.burger .div1{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 6px;
    z-index: 10;
    transition: 0.3s ease;

}
.active .div1{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 6px;
   opacity: 0;
   transition: 0.3s ease;
}
.burger .div2{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #fef7f7;
    border-radius: 6px;
    z-index: 10;
    transition: 0.3s ease;
}
.active .div2{
    margin-bottom: 9px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 6px;  
    transform: rotate(50deg) translate(-4px, -15px);
    transition: 0.3s ease;
}
.burger{
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
}
.burger div{
    pointer-events: none;
}
.menu {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 30px;
}

.faq {
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
    inset: 0;
    background-color: #000000e8;
    transform: translateY(-2000px);
    transition:500ms;
}
.modal a{
    font-size: 27px;
    color: #fff;
    text-align: center;
}
.show{
    transform: translateY(0px);
    transition:500ms;
}
.oq{
    background-color: #fff;
}
@media(max-width:670px){
    .burger{
        display: block;
    }
    
    .faq a{
        display: none;
    }
}